@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

table{
    border-collapse: collapse;
}

th {
    border: 1px solid black;
}

td{
    border: 1px solid black;
    width: 50px;
    height: 110px;
    text-align: center;
}

  td img{
    max-width: 50px;
    max-height:110px;
    object-fit: cover;
    
 }