@charset "UTF-8";

.qq{
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 17px;
    box-shadow: 0px 0px 5px 0px black;
    overflow: hidden;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-size: 1.1em;
}

.asd{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

#list>article>.subtit {
    padding: 10px;
}

.asd>.subtit{
    padding: 8px;
}

.ista{
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px black;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.htem{
    border-right: 1px solid black;
    padding: 5px;
    font-size: 0.9em;
}

.tem{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.cap{
    width: 80px;
}

.cap>img{
    width: 80px;
    height: 120px;
    border-radius: 0px 10px 10px 0px;
    border-right: 1px solid black;
    box-shadow: 0px 0px 5px 0px;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    flex: 2;
    border-right: 1px solid black;
}

.er{
    width: 15%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border-right: 1px solid black;
}

.de{
    width: 15%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border-right: 1px solid black;
}

.op{
    width: 15%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border: none;
}

@media screen and (max-width: 768px){
    .er,.de,.op {
        display: none;
    }

    .name{
        border: none;
    }
}