@charset "UTF-8";

.fav-list {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    padding-bottom: 0px;
    gap: 2px; 
}

.fav-item {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
    margin: 5px;

}

.fav-item p {
    font-size: 0.8em;
    padding: 5px;
}

.fav-item img {
    width: 130px;
    height: 180px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
    
}
#favi {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
    text-align: center;
    /* background-color: white; */
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 870px;
}