@charset "UTF-8";

body {
    background-image: url(../imagem/background-mobile-breno.jpg);
}

div#title {
    box-shadow: 0px 0px 5px 0px black;
}

@media screen and (min-width: 728px) {
    body {
        background-image: url(../imagem/background-pc-breno.jpg);
    }
}