@charset "UTF-8";

section#ola {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    margin-left: 30px;
}

div#apresenta {
    width: 80vw;
    display: flex;
    margin: 5px;
    justify-content: flex-start;
    align-items: center;
    max-width: 400px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
}

div#bubynha {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: aquamarine;
    border-right: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
    overflow: hidden;
}

div#bubynha img{
    width: 75px;
    height: 75px;
}

div#comenta {
    padding: 6px;
    font-size: 0.8em;
    line-height: 16px;
}

div#conteudo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80vw;
    max-width: 728px;
    gap: 5px;
}

h3 {
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 1.3em;
}

div#ultimo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 0px;
}

img {
    width: 150px;
    height: 225px;
}

div#conteudo p {
    font-size: 1.2em;
    padding: 10px;
}

div#info {
    display: flex;
    flex-flow: row wrap ;
    justify-content: center;
    align-items: center; 
}
div.numero {
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (min-width: 728px){
    div#info {
        flex-flow: row;
    } 
}
    
