@charset "UTF-8";

/* ID DAS IMAGENS DE CADA JOGO */

div#gal-gun{
    background-image: url(../imagem/imagem-1.png);
}

div#soul-eater {
    background-image: url(../imagem/imagem-2.jpg);
}

div#sonic-lost {
    background-image: url(../imagem/imagem-3.jpg);
}

div#lego-city {
    background-image: url(../imagem/imagem-4.jpg);
}

div#kon {
    background-image: url(../imagem/imagem-5.jpg);
}

div#nfs-payback {
    background-image: url(../imagem/imagem-6.jpg);
}

div#railgun {
    background-image: url(../imagem/imagem-7.png);
}

div#top-nep {
    background-image: url(../imagem/imagem-8.png);
}

div#omega-quintet {
    background-image: url(../imagem/imagem-9.png);
}

div#mighty {
    background-image: url(../imagem/imagem-10.png);
}

div#kof-2002um {
    background-image: url(../imagem/imagem-11.jpg);
}

div#dkc3 {
    background-image: url(../imagem/imagem-12.png);
}

div#final-fight3 {
    background-image: url(../imagem/imagem-13.png);
}

div#mad-max {
    background-image: url(../imagem/imagem-14.jpg);
}

div#sonic4-ep1 {
    background-image: url(../imagem/imagem-15.jpg);
}

div#speed-gonzales {
    background-image: url(../imagem/imagem-16.jpg);
}

div#lego-incriveis {
    background-image: url(../imagem/imagem-17.jpg);
}

div#FF13 {
    background-image: url(../imagem/imagem-18.jpg);
}

div#Sparkster {
    background-image: url(../imagem/imagem-19.jpg);
}

div#pw4 {
    background-image: url(../imagem/imagem-20.jpg);
}

div#gogoackman {
    background-image: url(../imagem/imagem-21.jpg);
}

div#re-rev2-ep1 {
    background-image: url(../imagem/imagem-22.jpg);
}

div#doa6 {
    background-image: url(../imagem/imagem-23.jpg);
}

div#sk-estival {
    background-image: url(../imagem/imagem-24.jpg);
}

div#lego-avengers {
    background-image: url(../imagem/imagem-25.jpg);
}

div#sao-hr {
    background-image: url(../imagem/imagem-26.png);
}

div#megaman {
    background-image: url(../imagem/imagem-27.jpg);
}

div#sao-hw-dlc {
    background-image: url(../imagem/imagem-28.jpg);
}

div#megaman-2 {
    background-image: url(../imagem/imagem-29.jpg);
}

div#tekken7 {
    background-image: url(../imagem/imagem-30.jpg);
}

div#sk-pbs {
    background-image: url(../imagem/imagem-31.jpg);
}

div#megaman-3 {
    background-image: url(../imagem/imagem-32.jpg);
}

div#megaman-willywars {
    background-image: url(..//imagem/imagem-33.jpg);
}

div#neptunia-4go {
    background-image: url(../imagem/imagem-34.jpg);
}

div#sonic-2-sms {
    background-image: url(../imagem/imagem-35.jpg);
}

div#koihime-enbu {
    background-image: url(../imagem/imagem-36.jpg);
}

div#storm4-boruto {
    background-image: url(../imagem/imagem-37.jpg);
}

div#kill-if {
    background-image: url(../imagem/imagem-38.jpg);
}

div#lego-dc-villians {
    background-image: url(../imagem/imagem-39.jpg);
}

div#sophie2 {
    background-image: url(../imagem/imagem-40.jpg);
}

div#htol {
    background-image: url(../imagem/imagem-41.jpg);
}