@charset "UTF-8";

/* Typical Devices Breakpoints
----------------------------------------
    Pequenas Telas: até 600px
    Celular: de 600px até 768px
    Tablet: 768px até 992px
    Desktop: 992px até 1200px
    Grandes Telas: acima de 1200px 
*/

@media screen and (min-width: 728px) {
    body {
        background-image: url(../imagem/background-pc.jpg);
    }

    span#burguer {
        display: none;
    }

    nav#menu {
        display: block;
    }

    nav#menu ul {
        display: flex;
        justify-content: center;
        margin-left: 5px;
        gap: 5px;
    }

    nav#menu li {
        display: block;
        transition: 0.4s;
        border: 1px solid #141430;
    }

    nav#menu a {
        border-radius: 3px;
    }

    nav#menu li :hover {
        transition: 0.5s;
    }
    
    div#intro {
        max-width: 870px;
    }

    ul#lista {
        max-width: 728px;
    }

    ul#lista li {
        width: 70vw;
        font-size: 1.05em;
    }

    ul#lista li:hover {
        transition: 0.2s;
    }

    li.cabeca > div.nome {
        border-right: 1px solid #8a8989;
        border-radius: 10px;
    }

    li.cabeca > div.genero {
        border-right: 1px solid #8a8989;
        border-radius: 10px;
    }

    div.nome {
        flex: 2; /* DISTRIBUI O ESPAÇO SOBRANDO DA CAIXA PAI */
        border-right: 1px solid #363636;
    }

    .item{ 
        align-self: center;
    }

    .item-2{
        align-self: flex-end;
    }

    div.genero {
        display: flex; /* ATIVANDO FLEXBOX*/
        justify-content: center;/*ALINHAR ELEMENTOS MAIN AXIS*/
        align-items: center;/* ALINHAR ELEMENTOS CROSS AXIS*/
        flex: 1; /* DISTRIBUI O ESPAÇO SOBRANDO DA CAIXA PAI */
    }

    div.nota {
        display: flex; /*FLEXBOX*/
        justify-content: center; /*ALINHAR ELEMENTOS MAIN AXIS*/
        align-items: center; /*ALINHAR ELEMENTOS CROSS AXIS*/
        flex: 1; /* DISTRIBUI O ESPAÇO SOBRANDO DA CAIXA PAI */
    }

    .m-nota {
        display: none;
    }
}