@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

/* Mobile First */

/* Cores
#1b1b42
#141430
#845FAC
#4242a5
#6E81BC
#38A8D0
*/

html {
    height: 100%; /* FIXAR FOOTER NA PARTE DE BAIXO DA TELA*/
    min-height: 100%; /* FIXAR FOOTER NA PARTE DE BAIXO DA TELA*/
}

body {
    background-color: #818181;
    background-image: url(../imagem/background-mobile.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0.2px 0.2px #292929;
    display: flex; /* FIXAR FOOTER NA PARTE DE BAIXO DA TELA*/
    flex-direction: column; /* FIXAR FOOTER NA PARTE DE BAIXO DA TELA*/
    min-height: 100%; /* FIXAR FOOTER NA PARTE DE BAIXO DA TELA*/
}

main {
    width: 100%;
    height: 100%;
}

header {
    box-shadow: 0px 1px 5px 0px black;
    text-align: center;
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    color: white;
    text-shadow: 1px 1px 2px black;
}

header h1 img{
    margin: 5px;
    width: 200px;
    height: 100px;
}

header> h1 > a {
    text-decoration: none;
    color: white;
}

span#burguer {
    display: block;
    cursor: pointer;
    color: white;
    padding: 5px;
    font-size: 2em;
}

nav#menu {
    display: none;
}

nav ul {
    list-style-type: none;
    display: block;
}

nav > ul > li {
    list-style: none;
    border-top: 1px solid #4242a5;
    background-color: #141430;
    border-radius: 3px;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav > ul :hover {
    background-color: #4242a5;
}

section {
    display: flex; /*ATIVANDO OFLEXBOX*/
    justify-content: center; /*ALINHAR ELEMENTOS MAIN AXIS*/
    align-items: center;  /*ALINHAR ELEMENTOS MAIN AXIS*/
}

div#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 80vw;
    padding: 10px;
    margin: 20px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px ;
}

h2 {
    font-size: 1.4em;
    padding: 2px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right,  #1b1b42,#4242a5);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black ;
    padding: 5px;
}

div#intro div {
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-top: 5px;
    font-size: 1.05em; 
} 

p {
    padding: 2px;
}

/* ESTATISTICAS DO ANO */
div#st{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    width: 80vw;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
}

div.st1{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 5px;
}

.st1 h3 {
    width: 70%;
}

.st1 p {
    font-size: larger;
}

div.st2{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.st3titulo {
    width: 100%;
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
    margin: 5px;
}
 .itemst2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100px;
    padding: 5px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 10px; 
    box-shadow: 0px 0px 5px 0px black;
 }

 .itemst2 p {
    width: 100%;
    text-align: center;
 }

/* SEÇÂO FAVORITOS DO ANO */
.fav-list {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    padding-bottom: 0px;
    gap: 2px; 
}
.fav-item {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.fav-item p {
    font-size: 0.8em;
    padding-top: 5px;
}

.fav-item img {
    width: 130px;
    height: 180px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;   
}

#fav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
    text-align: center;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px ;
    max-width: 870px;
}

/* LISTA */
ul#lista {
    list-style-type: none;
    height: 100%;
    margin-bottom: 20px;
    display: flex; /*ATIVANDO FLEXBOX*/
    padding: 1px;
    gap: 1px;
    flex-flow: row wrap; /* MAIN AXIS - LINHA = QUEBRA DE LINHA*/
    justify-content: center; /*ALINHAR ELEMENTOS MAIN AXIS*/
}

ul#lista li {
    background-color: white;
    width: 75vw;
    height: 120px;
    display: flex; /*FLEXBOX*/
    align-items: stretch;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px ;
    margin-bottom: 5px;
    font-size: 0.90em;
    line-height: 22px;
    overflow: hidden;
}

ul#lista li:hover {
    background-color: #d0d0d1;
}

ul#lista > li.cabeca {
    height: 50px;
    font-size: 1.05em;
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px black;
}

li.cabeca > div.capinha {
    display: flex; /* ATIAVNDO FLEXBOX*/
    justify-content: center; /*ALINHAR ELEMENTOS MAIN AXIS*/
    align-items: center;  /*ALINHAR ELEMENTOS CROSS AXIS*/
    border-right:1px solid #8a8989;
    box-shadow: 0px 0px 0px 0px;
}

div {
    height: 100%;
}

div.capinha {
    display: block;
    width: 80px;
    overflow: hidden;
    border-right: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #313131; /*EIXO X - EIXO Y - BLUR- SPREAD*/
}

img {
    width: 80px;
    height: 120px;
}

div.nome {
    text-align: center;
    flex: 2; /* DISTRIBUI O ESPAÇO SOBRANDO DA CAIXA PAI */
    display: flex; /*FLEXBOX*/
    justify-content: center; /*ALINHAR ELEMENTOS MAIN AXIS*/
    align-items: center;  /*ALINHAR ELEMENTOS CROSS AXIS*/
    flex-flow: row wrap;
}

div.genero {
    text-align: center;
    display: none;
    border-right: 1px solid #363636;
}

div.nota {
    display: none; /*FLEXBOX*/
        justify-content: center; /*ALINHAR ELEMENTOS MAIN AXIS*/
        align-items: center; /*ALINHAR ELEMENTOS CROSS AXIS*/
        flex: 1; /* DISTRIBUI O ESPAÇO SOBRANDO DA CAIXA PAI */
        text-align: center;
}

 /* BOX NOTA MOBILE */
.item {
    font-size: 1.05em;
    width: 100%;
    align-self: flex-end;
}

.m-nota{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 0.8em;
    margin-bottom: 10px;
    width: 50%;
    line-height: 15px;
    align-self: flex-end;
    box-shadow: 0px 0px 5px 0px #313131;
}

/* CONFIG NOTAS */
.muitobom {
    background-color: blue;
    color: white;
}

.legal{
    background-color: #00ff00;
}

.legalzinho{
    background-color: #cffdcf;
}

.ok{
    background-color: yellow;
}

.ruim{
    background-color: orange;
}

.pessimo{
    background-color: red;
}

/* BOX TODAS AS CONQUISTAS */
.conquista {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 2px;
    width: 100%;
    height: 30px;
    font-size: 0.9em;
    background-color: #1414d1;
}

.conquista p {
    color: white;
}

.conquista img {
    width: 50px;
    height: 50px;
}

/* COMPLETADO 100%  */
.complete {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 2px;
    width: 100%;
    height: 30px;
    font-size: 0.9em;
    background-color: rgb(58, 243, 166);
    border-top: 1px solid black;
}

.complete p {
    color: black;
}

.complete img {
    width: 50px;
    height: 50px;
}

footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid black;
    background-image: linear-gradient(to right,#1b1b42,#4242a5);
    color: white;
    font-size: 0.9em;
    margin-top: auto; /* FIXAR FOOTER NA PARTE DE BAIXO DA TELA*/
}

#demo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#demo ul{
    list-style: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
    width: 70%;
    overflow: hidden;
    margin: 5px;
}

#demo li {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

#demo div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 42px;
}

.demo2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

div.title2 {
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    width: 90%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px;
    color: white; 
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

div#title {
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    width: 90%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px;
    color: white; 
    font-size: 1.05em;
    font-weight: bold;
}

div.a1 {
    text-align: center;
    flex: 2;
    max-width: 70%;
    border-right: 1px solid black;
    padding: 5px;
}

div.a2 {
    text-align: center;
    flex: 1;
    max-width: 30%;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

@media screen and (orientation:landscape) {
    .item{ 
        align-self: center;
    }

    .item-2{
        align-self: flex-end;
    }

    div.nome {
        flex: 2; /* DISTRIBUI O ESPAÇO SOBRANDO DA CAIXA PAI */
        border-right: 1px solid #363636;
        
    }
    div.nota {
        display: flex; /*FLEXBOX*/
        justify-content: center; /*ALINHAR ELEMENTOS MAIN AXIS*/
        align-items: center; /*ALINHAR ELEMENTOS CROSS AXIS*/
        flex: 1; /* DISTRIBUI O ESPAÇO SOBRANDO DA CAIXA PAI */
    }

    li.cabeca > div.nome {
        border-right: 1px solid #8a8989;
        border-radius: 10px;
    }

    .m-nota {
        display: none;
    }
}