@charset "UTF-8";

/* Mobile First */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    background-color: aqua;
    background: url(../imagem/NPSS1-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

header {
    display: block;
    color: white;
    background-color: rgb(27, 27, 66);
    border-bottom: 1px solid black;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.281);
}

header > h1 {
    text-align: center;
    padding: 10px;
}

nav#menu > ul > li  {
    display: inline-block;
    list-style-type: none;
    text-align: left;
    margin-left: 10px;
    padding: 7px;
    width: 75px;
    background-color: rgb(20, 20, 48);  
}

nav#menu > ul > li:hover {
    background-color: rgb(66, 66, 165);
}

div#intro {
    margin: 20px;
    border: 1px solid black;
    display: block;
    background-color: white;
    text-align: center;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.281);
    padding: 10px;
    border-radius: 10px;
}

div#intro > h2 {
    font-size: 1.4em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
}

div#intro > p {
    text-align: center;
}

section ul {
    display: block;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 10px;
    margin-right: 10%;
}

section li {
    display: block;
    width: 80vw;
    height: 120px;
    display: block;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.685);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px;
    margin-bottom: 10px;
}

ul > li:hover {
    background-color: rgb(208, 208, 209);
}

div {
    height: 100%;
    display: inline-block;
}

div.imagem {
    border-right: 1px solid black;
    box-shadow: 0px 0px 2px 0px;
    background-color: black;
    width: 80px;
    background-image: url(../imagem/sao-hr-dlc1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    float: left;
}

div.nome {
    display: inline-block;
    position: relative;
    width: calc(100% - 90px);
}

div.nome > p {
    display: block;
    position: absolute;
    text-align: center;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div.genero {
    display: none;
    position: relative;
    width: 19%;
}
/*
div.genero > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div.avaliacao {
    display: none;
}
*/
footer {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgb(27, 27, 66);
    font-size: 0.9em;
}