@charset "UTF-8";

/* Mobile First */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    background-color: aqua;
}

ul {
    display: block;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 10px;
    margin-right: 10%;
}

ul > li {
    display: block;
    width: 80vw;
    height: 120px;
    display: block;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

div {
    border: 1px solid black;
    height: 100%;
    display: inline-block;
}

div.imagem {
    background-color: black;
    width: 80px;
    background-image: url(../imagem/sao-hr-dlc1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div.nome {
    width: 40%;
    text-align: center;
}

div.genero {
    width: 20%;
    text-align: center;
}

div.avaliacao {
    display: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: blue;
    font-size: 0.9em;
}