@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }
    nav#menu{
        display: block;
    }

    nav#menu ul{
        display: flex;
        justify-content: center;
        gap: 2px;
    }
    
    #menu li{
        width: 75px;
        border: 1px solid #1b1b42;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 5px;
    }

    section {
        max-width: 900px;
    }

    td.item-3, td.item-4,td.item-5 {
        width: 120px;
    }
}