@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }
    nav#menu{
        display: block;
    }

    nav#menu ul{
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    
    #menu li{
        width: 100px;
        border: 1px solid #1b1b42;
        border-radius: 7px 7px 0px 0px;
        overflow: hidden;
    }

    .item-menu :hover {
        transition: 0.3s;
    }

    body {
        background-image: url(../imagem/desktop-background-3.jpg);
    }

    .geral-info, .tabela {
        max-width: 768px;
    }

    .p-conquista{
        text-align: center;
        padding-top: 15px;
        height: 70px;
    }
}


