@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/* Mobile */

/* Cores
#1b1b42
#141430
#845FAC
#4242a5
#6E81BC
#38A8D0
*/
/* GRADIENTE
background-image: linear-gradient(to right, #1b1b42,#4242a5);
*/

body{
    /* FIXAR FOOTER NA PARTE DE BAIXO DA TELA*/
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    background-color: #3d9ffa;
    /* ------------------------------------- */
}

/* --- CABEÇALHO ---*/
header {
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    display: flex;
    align-items: center;
    flex-flow: column;
    box-shadow: 0px 1px 5px 0px black;
}

img#logo{
    width: 200px;
    height: 100px;
}

span#burguer {
    display: block;
    cursor: pointer;
    color: white;
    padding: 5px;
    font-size: 2em;
}

nav#menu{
    display: none;
}

ul#menu-item{
    list-style-type: none;
    display: block;
}

li.item-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141430;
    width: 100vw;
    border-top: 1px solid #4242a5;
}

.item-menu :hover{
    background-color: #4242a5;
}

.item-menu a {
    display: block;
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 10px;
}

/* ---------------- */

/* --- CONTEUDO --- */
main {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:yellow;
}

section{
    display: block;
    width: 80%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
}

.intro{
    padding: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.intro h1 {
    font-size: 1.4em;
}
 .intro p {
    width: 100%;
 }

/* --- INFORMAÇÔES GERAIS --- */

.info{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

/* .geral{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    
} */

.geral-item{
    flex: 1;
    padding: 5px;
    text-align: center;
}

.subtit{
    width: 100%;
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
}

/* -- Favorito do Ano -- */

.fav-ano{
    width: 100%;
    padding: 10px;
}

#fav-list{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-flow: row wrap;
    margin: 5px 0px;
}

.fav-item{
    margin: 3px;
    width: 150px;
    text-align: center;
}

.fav-item img {
    width: 100px;
    height: 150px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
}

/* -- Jogos por nota -- */

#ava-ano{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

.avabox {
    border: 1px solid black; 
    width: 100px;
    text-align: center;
}
/* -------------------------- */
/* ----- LISTA ---- */
#list{
    background-color: transparent;
}

.lista{
    padding: 10px;
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

.cabeca{
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
}

th{
    color: white;
}

th, td{
    /* border: 1px solid black; */
    text-align: center;
}

tr {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
}

th.capa{
    width: 80px;
    padding: 5px;
    border-right: 1px solid #5c5c5c;
}

th.item1, th.item-2, th.item-3, th.item-4 {
    border-right: 1px solid #5c5c5c;
}

td {
    background-color: aliceblue;
}

img.capa {
    width: 80px;
    height: 120px;
    margin-bottom: -4px;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
    border-right: 1px solid black; 
}

.item-1{
    border-radius: 10px 0px 0px 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.item-2{
    border-top: 1px solid black;
    border-right:1px solid black;
    border-bottom: 1px solid black;
}

.item-3{
    border-top: 1px solid black;
    border-right:1px solid black;
    border-bottom: 1px solid black;
}

.item-4{
    border-top: 1px solid black;
    border-right:1px solid black;
    border-bottom: 1px solid black;
}

.item-5{
    border-radius: 0px 10px 10px 0px;
    border-top: 1px solid black;
    border-right:1px solid black;
    border-bottom: 1px solid black;
}

.demo {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.demo ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px;
    overflow: hidden;
}

li{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    flex-flow: row wrap;
    background-color: aliceblue;
    border: 1px solid black;
}

.demo-item {
    width: 60%;
    text-align: center;
    padding: 10px;
    border-right: 1px solid black;
}

.demo-av {
    width: 40%;
    text-align: center;
    padding: 10px;
}
/* ---------------- */

/* ---- RODAPÉ ---- */
footer{
    border: 1px solid black;
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    text-align: center;
    margin-top: auto;
    padding: 10px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}





