@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
}



/* Mobile */

/* Cores
#1b1b42
#141430
#845FAC
#4242a5
#6E81BC
#38A8D0
*/
/* GRADIENTE
background-image: linear-gradient(to right, #1b1b42,#4242a5);
*/

body{
    /* FIXAR FOOTER NA PARTE DE BAIXO DA TELA*/
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    background-image: url(../imagem/background-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-shadow: 0.2px 0.2px #818181;
    /* ------------------------------------- */
}

/* --- CABEÇALHO ---*/
header {
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    display: flex;
    align-items: center;
    flex-flow: column;
    box-shadow: 0px 1px 5px 0px black;
}

img#logo{
    margin: 5px;
    width: 200px;
    height: 100px;
}

span#burguer {
    text-align: center;
    width: 100%;
    display: block;
    cursor: pointer;
    color: white;
    padding: 5px;
    font-size: 2em;
}

nav#menu{
    width: 100%;
    display: none;
}

ul#menu-item{
    list-style-type: none;
    display: block;
}

li.item-menu {
    background-color: #141430;
    border-top: 1px solid #4242a5;
}

.item-menu :hover{
    background-color: #4242a5;
}

.item-menu a {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
}

/* ---------------- */

/* --- CONTEUDO --- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    display: block;
    width: 90%;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.intro{
    padding: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

h3{
    font-size: 1.05em;
}
 .intro p {
    width: 100%;
 }

/* --- INFORMAÇÔES GERAIS --- */

.info{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.geral-item{
    flex: 1;
    padding: 5px;
    text-align: center;
}

.geral-item p {
    font-weight: bold;
    font-size: 1.05em;
}

.subtit{
    width: 100%;
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
}

.lembrete {
    font-size: 0.7em;
    padding-top: 5px;
    font-weight: lighter;
}

/* -- Favorito do Ano -- */

.fav-ano{
    width: 100%;
    padding: 10px;
}

#fav-list{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-flow: row wrap;
    margin: 5px 0px;
}

.fav-item{
    margin: 3px;
    width: 150px;
    text-align: center;
}

.fav-item img {
    width: 100px;
    height: 150px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
}

/* -- Jogos por nota -- */

#ava-ano{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

.avabox {
    border: 1px solid black; 
    width: 120px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}
/* -------------------------- */
/* ----- LISTA ---- */
#list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: transparent;
    width: 95%;
    padding: 10px;
    border: none;
    box-shadow: none;
}
/* __________ */

.qq{
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 17px;
    box-shadow: 0px 0px 5px 0px black;
    overflow: hidden;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-size: 1.1em;
}

.asd{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista .subtit{
    padding: 8px;
    margin: 5px;
}

.ista{
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px black;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.htem{
    border-right: 1px solid black;
    padding: 5px;
    font-size: 0.9em;
}

.tem{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.cap{
    width: 80px;
}

.cap>img{
    width: 80px;
    height: 120px;
    border-radius: 0px 10px 10px 0px;
    border-right: 1px solid black;
    box-shadow: 0px 0px 5px 0px;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    flex: 2;
    border-right: 1px solid black;
}

.er{
    width: 15%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border-right: 1px solid black;
}

.de{
    width: 15%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border-right: 1px solid black;
}

.op{
    width: 15%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border: none;
}

@media screen and (max-width: 768px){
    .er,.de,.op {
        display: none;
    }

    .name{
        border: none;
    }
}

/* __________ */


.nome{
    height: 57%;
    width: 100%;
    padding: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobi-ava{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 70%;
    padding: 2px;
    border: 1px solid black;
    font-size: 0.75em;
    border-radius: 5px;
    margin-bottom: 5px;
}

.conquista{
    align-self: flex-end;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    gap: 2px;
    font-size: 0.75em;
    background-color: #1414d1;
}

.lista {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}

.conquista p {
    color: white;
}

.conquista img{
    width: 45px;
    height: 45px;
}

.complete{
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    gap: 2px;
    font-size: 0.75em;
    border-top: 1px solid black;
    background-color: #3af3a6;
}

.complete img{
    width: 45px;
    height: 45px;
}

.demo {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.demo ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px;
    overflow: hidden;
}

li{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    flex-flow: row wrap;
    background-color: aliceblue;
    border: 1px solid black;
}

.demo-item {
    width: 60%;
    text-align: center;
    padding: 10px;
    border-right: 1px solid black;
}

.demo-av {
    width: 40%;
    text-align: center;
    padding: 10px;
}

.curti {
    background-color: rgb(0, 0, 255);
    color: white;
}

.legal{
    background-color: #00ff00;
}

.legalzinho{
    background-color: #cffdcf;
}

.ok{
    background-color: yellow;
}

.ruim{
    background-color: orange;
}

.n-gostei{
    background-color: red;
    color: white;
}
/* ---------------- */

/* ---- RODAPÉ ---- */
footer{
    border: 1px solid black;
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    text-align: center;
    margin-top: auto;
    padding: 10px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}







