@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
    
}

/* --- CABEÇALHO ---*/
header {
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    display: flex;
    align-items: center;
    flex-flow: column;
    box-shadow: 0px 1px 5px 0px black;
}

img#logo{
    margin: 5px;
    width: 200px;
    height: 100px;
}

span#burguer {
    text-align: center;
    width: 100%;
    display: block;
    cursor: pointer;
    color: white;
    padding: 5px;
    font-size: 2em;
}

nav#menu{
    width: 100%;
    display: none;
}

ul#menu-item{
    list-style-type: none;
    display: block;
}

li.item-menu {
    background-color: #141430;
    border-top: 1px solid #4242a5;
}

.item-menu :hover{
    background-color: #4242a5;
}

.item-menu a {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    text-shadow: 0.2px 0.2px #5f5f5f;
}
/* --------------------------------*/

/* ------ CONTEUDO ------*/

body {
    background-color: yellow;
    background-image: url(../imagem/mobile-background-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    text-shadow: 0.3px 0.3px #5f5f5f;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;

}

h1 {
    width: 100%;
}

.geral-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    padding: 10px;
    width: 100%;
    margin: 5px;
    text-align: center;
}

.a2 {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: rgba(255, 255, 255, 0.747);
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 5px;
}

.a {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    color: white;
    box-shadow: 0px 0px 5px 0px black;
}

.lembrete {
    font-size: 0.8em;
}

.geral-lista {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
}

.geral-item {
    width: 50%;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    color: white;
    box-shadow: 0px 0px 5px 0px black;
}

.outras-info{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.info-item {
    width: 150px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
}

.item-nome {
    border-bottom: 1px solid gray;
    font-weight: bold;
    padding: 3px;
}

.item-dado {
    padding: 3px;
}

#fav-list{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-flow: row wrap;
    margin: 5px 0px;
}

.fav-item{
    margin: 3px;
    width: 150px;
    text-align: center;
}

.fav-item img {
    width: 100px;
    height: 150px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
}

.tabela {
    padding: 10px;
    width: 100%;
    margin: 5px;
}

.lista-jogos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    /* background-color: rgba(255, 255, 255, 0.747);
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 5px; */
}

table {
    border-collapse: collapse;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px 0px black;
    margin: 10px;
}

thead > tr > th {
    position: sticky;
    top: -1px;
}

/*Tabela Jogos Terminado*/

caption {
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    color: white;
}

tr.place {
    display: none;
}

th,td {
    border: 1px solid black;
    text-align: center;
}

th {
    padding: 5px;
    height: 20px;
    background-color: #1B1B42;
    color: white;
}

td {
    background-color: rgba(255, 255, 255, 0.853);
}

.tb1-numero {
    width: 5px;
}

.tb1-nome{
    overflow: hidden;
}

.tb1-nome>p {
    padding-left: 5px;
    padding-right: 5px;
}

.tb1-box-art{
    width: 55px;
}

.tb1-genero {
    width: 150px;
}

.tb1-versao {
    width: 120px;
}

.tb1-curti {
    width: 140px;
}

.conquista{
    padding: 5px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    background-color: #1414d1;
}

.conquista > P {
    color: white;
}

.conquista img{
    width: 45px;
    height: 45px;
}

.p-conquista{
    text-align: center;
    padding-top: 18px;
    height: 70px;
}

 /* Cores da Avaliação */

 .gosto {
    background-color: #01b5fcda;
 }

 .legal {
    background-color: #2dfc5ada;
 }

 .legalzinho {
    background-color: #a1f596da;
 }

 .ok {
    background-color: #ffff00da;
 }

 .ruim {
    background-color: #ffa500da;
 }

@media screen and (max-width: 768px){
    .tb1-genero,.tb1-versao,.tb1-curti {
        display: none;
    }
}

td img {
    width: 65px;
    height: 100px;
    display: block;
}

/* Tabela todos os Jogos */

.tb2-nome {
    width: 350px;
    padding: 5px;
}

.tb2-estado {
    width: 200px;
    padding: 5px;
}

/* Cores status */

.complete{
    background-color:#0000ffda;
    color: white;
}

.zerado {
    background-color: #01b5fcda;
}

.jogando{
    background-color: #5f5f5fda;
}

.joguei {
    background-color: #2dfc5ada;
}

.drop{
    background-color: #ff0000da;
    color: white;
}

/* Lista todos os jogos */
.lembrete{
    padding-top: 5px;
}
.ava-nome{
    background-color: ;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px;
}
/* ---- RODAPÉ ---- */
footer{
    border: 1px solid black;
    background-image: linear-gradient(to right, #1b1b42,#4242a5);
    text-align: center;
    margin-top: auto;
    padding: 10px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}
